@page "/componentTypes"

<h3>@Localizer["ComponentTypes"]</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/componentTypes/create">@Localizer["New"] @Localizer["ComponentType"]</a>
</div>

<GenericList MyList="ComponentTypes">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["ComponentType"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in ComponentTypes!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            <a class="btn btn-warning">@Localizer["Edit"]</a>
                            <button class="btn btn-danger">@Localizer["Delete"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>